<ion-view>
    <ion-header-bar align-title="center" class="nav-title-slide-ios7 bar-positive">
        <button class="button button-icon button-clear ion-angle-left" ng-click="goBack()"></button>
        <h1 class="title font-20" style="text-align: center;">
            <button
                    class="button button-clear icon-right ion-angle-down font-20"
                    style="height:100%;"
                    ng-click="show()" ng-bind="name"> </button>
        </h1>
    </ion-header-bar>
    <div class="scroll-content has-header" style="background: #fff;">
        <textarea placeholder="我的说说" style="width: 323px; height:80px; padding: 10px;"></textarea>
        <div style="padding:4px;">
            <div style="margin:4px;float:left; width:70px;height:70px;border:1px solid #ccc;">
                <img src="images/2015081216425685.jpg" style="width:100%; height:100%;"/>
            </div>
            <div style="margin:4px;float:left; width:70px;height:70px;border:1px solid #ccc;">
                <img src="images/2015081216425685.jpg" style="width:100%; height:100%;"/>
            </div>
            <div style="margin:4px;float:left; width:70px;height:70px;border:1px solid #ccc;">
                <img src="images/2015081216425685.jpg" style="width:100%; height:100%;"/>
            </div>
            <div style="margin:4px;float:left; width:70px;height:70px;border:1px solid #ccc;">
                <img src="images/2015081216425685.jpg" style="width:100%; height:100%;"/>
            </div>
            <div style="margin:4px;float:left; width:70px;height:70px;border:1px solid #ccc;">
                <img src="images/2015081216425685.jpg" style="width:100%; height:100%;"/>
            </div>
            <div style="margin:4px;float:left; width:70px;height:70px;border:1px solid #ccc;">
                <img src="images/2015081216425685.jpg" style="width:100%; height:100%;"/>
            </div>
            <div style="margin:4px;float:left; width:70px;height:70px;border:1px solid #ccc;">
                <img src="images/2015081216425685.jpg" style="width:100%; height:100%;"/>
            </div>
            <div style="margin:4px;float:left; width:70px;height:70px;border:1px solid #ccc;">
                <img src="images/2015081216425685.jpg" style="width:100%; height:100%;"/>
            </div>
            <div style="margin:4px;float:left; width:70px;height:70px;border:1px solid #ccc;">
                <img src="images/2015081216425685.jpg" style="width:100%; height:100%;"/>
            </div>
            <div style="margin:4px;float:left; width:70px;height:70px;border:1px solid #ccc;">
                <img src="images/2015081216425685.jpg" style="width:100%; height:100%;"/>
            </div>
            <div style="margin:4px;float:left; width:70px;height:70px;border:1px solid #ccc;">
                <img src="images/2015081216425685.jpg" style="width:100%; height:100%;"/>
            </div>
            <div style="margin:4px;float:left; width:70px;height:70px;border:1px solid #ccc;">
                <img src="images/2015081216425685.jpg" style="width:100%; height:100%;"/>
            </div>
        </div>
            <!--<input type="text" placeholder="required"/>-->
        <!--<div style="height: 100%; padding:10px;" contenteditable="true">-->
            <!--<span style="color:#dddddd;">发布内容</span>-->
        <!--</div>-->
    </div>
    <div class="bar bar-footer" style="border-top:1px solid #cccccc;">
        <button class="button button-assertive" style=" width:100%; border-radius: 15px;">发送</button>
    </div>
</ion-view>
